<span>
    {{ range .Site.Params.hero.socialLinks.fontAwesomeIcons }}
    <span class="px-1">
        <a href="{{ .url }}"
            {{ if not (hasPrefix .url "#") }} target="_blank" rel="noopener" {{ end }}
            class="btn social-icon"
            aria-label="{{ .name | default "Social Link" }}"
        >
            <i class="{{ .icon }}"></i>
        </a>
    </span>
    {{ end }}

    {{ range .Site.Params.hero.socialLinks.customIcons }}
    <span class="px-1">
        <a href="{{ .url }}"
            {{ if not (hasPrefix .url "#") }} target="_blank" rel="noopener" {{ end }}
            class="btn social-icon"
            aria-label="{{ .title }}"
        >
            <img src="{{ .icon | relURL }}" alt="{{ .title }} Icon">
        </a>
    </span>
    {{ end }}
</span>