{{ if .Site.Params.about.enable | default false }}
{{- $about := .Site.Language.Params.about | default .Site.Params.about -}}
<section id="about" class="py-0 py-sm-5">
    <div class="container bg-transparent">
        <h3 class="text-center bg-transparent">{{ $about.title | default (i18n "about") }}</h3>
        <div class="bg-transparent row justify-content-center px-3 py-5">
            {{ if .Site.Params.about.image }}
            <div class="col-sm-12 col-md-8 col-lg-4 mb-5 mb-sm-0 mb-md-5 mb-lg-0 d-none d-sm-none d-md-block">
                <div class="image d-flex px-5">
                    <img src="{{ .Site.Params.about.image }}" class="img-thumbnail mx-auto rounded-circle" alt="{{ .Site.Params.title }} profile picture">
                </div>
            </div>
            {{ end }}
            <div class="col-sm-12 col-md-12 col-lg-8 content">
                {{ $about.content | markdownify }}

                {{ if .Site.Params.about.skills.enable }}
                {{ $about.skills.title | default .Site.Params.about.skills.title }}
                <!-- <ul>
                    {{ range .Site.Params.about.skills.items }}
                    <li>{{ . | markdownify }}</li>
                    {{ end }}
                </ul> -->

               <!-- <ul class="skills-grid">
    {{ range .Site.Params.about.skills.items }}
    <li class="skill-item">
        <span class="skill-icon-wrapper">
            <img src="/images/{{ . | urlize }}.svg"
                 class="skill-icon-img"
                 alt="{{ . }} icon"
                 onerror="this.style.visibility='hidden';">
        </span>
        {{ . }}
    </li>
    {{ end }}
</ul> -->

            <ul class="skills-grid">
    {{/* 1. Define your filename overrides here */}}
    {{- $overrides := dict "GitHub Actions" "gh_action" "Gitlab CI/CD" "gitlab" "Apache/Nginx" "nginx" -}}

    {{ range .Site.Params.about.skills.items }}
        {{- $skillName := . -}}

        {{/* 2. Check if the skill has a manual filename, otherwise urlize it */}}
        {{- $fileName := index $overrides $skillName | default ($skillName | urlize) -}}

        <li class="skill-item">
            <span class="skill-icon-wrapper">
                <img src="/images/{{ $fileName }}.svg"
                     class="skill-icon-img"
                     alt="{{ $skillName }} icon"
                     onerror="this.style.display='none';">
            </span>
            {{ $skillName }}
        </li>
    {{ end }}
</ul>

                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}