{{/* 1. BREADCRUMB LOGIC */}}
{{- if not .IsHome -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "{{ .Site.BaseURL | absURL }}"
    }
    {{- range $index, $element := .Ancestors.Reverse -}}
    {{- if not .IsHome -}}
    ,{
      "@type": "ListItem",
      "position": {{ add $index 2 }},
      "name": "{{ or .Title "Archive" }}",
      "item": "{{ .Permalink | absURL }}"
    }
    {{- end -}}
    {{- end -}}
    ,{
      "@type": "ListItem",
      "position": {{ add (len .Ancestors) 1 }},
      "name": "{{ or .Title "Post" }}",
      "item": "{{ .Permalink | absURL }}"
    }
  ]
}
</script>
{{- end -}}

{{/* 2. PERSON SCHEMA (Shows up on Homepage) */}}
{{ if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Sagar Panda",
  "url": "{{ .Permalink }}",
  "jobTitle": "DevOps & Cloud Infrastructure Engineer",
  "description": "{{ .Site.Params.description }}",
  "sameAs": [
    "https://www.linkedin.com/in/sagarkpanda/",
    "https://github.com/sagarkpanda"
  ]
}
</script>
{{ end }}

{{/* 3. BLOGPOSTING SCHEMA (Shows up on Article Pages) */}}
{{ if .IsPage }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ .Title }}",
  "description": "{{ .Description | default .Summary | plainify }}",
  "image": "{{ if .Params.feature_image }}{{ .Params.feature_image | absURL }}{{ else }}{{ .Site.Params.favicon | absURL }}{{ end }}",
  "datePublished": "{{ .Date.Format "2006-01-02" }}",
  "author": {
    "@type": "Person",
    "name": "Sagar Panda"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  }
}
</script>
{{ end }}